demo/src/main/mule/demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="492b7f7e-3ad1-4984-b0bb-8e12ac1e0853" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demoFlow" doc:id="26f77937-f51a-41b6-a6ce-79cdcb3aa19b" >
		<http:listener doc:name="Listener" doc:id="8405cc7a-a14d-4f2c-92b1-8e4997b2cd41" config-ref="HTTP_Listener_config" path="/mule"/>
		<ee:transform doc:name="Transform Message" doc:id="9132a205-ee0b-4a69-a827-0e4466a17979" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

"Welcome " ++ payload.firstName ++ " " ++ payload.lastname ++  " ! Your customer Id is " ++ payload.cid
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6e06564a-2a32-47e4-be2d-d5712330d494" message='#["Git hub connect"]'/>
	</flow>
</mule>
